
/*PANEL SUPERIOR QUE CONTIENE LA IMAGEN DEL RESTAURANTE*/
#ImgRestaurant{
 -fx-background-image: url('../Img/Login/Panel.jpg');
}

/* ESTE BOTON SE ENCARGA DE EJECUTAR LA LOGICA PARA VALIDAR LOS DATOS DE INICIO DE SESION*/
#BtnLogin{
    -fx-background-color: #003F83;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
/* DISEÑO DEL BOTÓN CUANDO EL MOUSE PASE POR ENCIMA DE ÉL*/
#BtnLogin:hover{
    -fx-background-color: white;
    -fx-text-fill:#003F83;
}

/* BOTON QUE CONTIENE EL LOGO DEL RESTAURANTE*/
#BtnImgLogo{
    -fx-background-color: #FDFDFD;
    -fx-background-radius: 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../Img/Login/Logo.png');
}

/* ANCHOR PANE QUE CONTIENE TODOS LOS ELEMENTOS*/
#AnchorPane{
    -fx-background-color: #FDFDFD;
}

#ContenedorDatos{
    -fx-background-color: white;
}

